<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tips in Javascript and Angular</title>
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <!-- typescript -->
        <section>
          <section data-markdown>
            <script type="text/template">
              ## 1. Array loop functions
              * .forEach <!-- .element: class="fragment" -->
              * .map<!-- .element: class="fragment" -->
              * .filter<!-- .element: class="fragment" -->
              * .some<!-- .element: class="fragment" -->
              * .every<!-- .element: class="fragment" -->
              * .find<!-- .element: class="fragment" -->
              * etc<!-- .element: class="fragment" -->
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              * Each of array built-ins function has its own purpose and do differently.
              * ".forEach" is the most basic one since it just loop. <!-- .element: class="fragment" -->
              <div class="fragment">

                ```ts [1-2|4-6|8]
                const arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                let temp = []

                arr.forEach(i => {
                  temp.push(i * 2)
                })

                temp: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
                ```

              </div>
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              * can we select certain item by using ".forEach"

              <div class="fragment">

                ```ts [1-2|4,8|5-7|10]
                const arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                const isEven = []

                arr.forEach(i => {
                  if (i % 2 === 0) {
                    isEven.push(i)
                  }
                })

                isEven: [2, 4, 6, 8, 10]
                ```

              </div>

              * but, can we use ".filter" function instead.<!-- .element: class="fragment" -->
              * we reduce line of code from 6 to 1!<!-- .element: class="fragment" -->

              <div class="fragment">

                ```ts [1|2]
                  const arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  const isEven = arr.filter(i => i % 2 === 0)
                ```

              </div>
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              Let's try mimic ".map" with ".forEach"

              <div class="fragment">

                ```ts [1,2|4,6|5|8]
                const arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                const multiplierBy2 = []

                arr.forEach(i => {
                  multiplierBy2.push(i * 2)
                })

                multiplierBy2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
                ```

              </div>

              How about ".map " <!-- .element: class="fragment" -->

              <div class="fragment">

                ```ts [1-2|4]
                  const arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                  const multiplierBy2 = arr.map(i => i * 2)

                  multiplierBy2 : [2, 4, 6, 8, 10]
                ```

              </div>
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              * As we seen with ".map", ".filter", it does return an array, while ".forEach" it return nothing.
              * So use ".map", ".filter" if you want to assign to something<!-- .element: class="fragment" -->
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              * There is one problem one.
              * input as array. <!-- .element: class="fragment" -->
              * output also is array. <!-- .element: class="fragment" -->
              * what if we want to have object/boolean/number/string or anything else as our output? <!-- .element: class="fragment" -->
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              ## .reduce
              * reduce is much more versatile and flexible than ".map", ".filter", and in-fact, it can do all array operation<!-- .element: class="fragment" -->
              * acc = accumulation <!-- .element: class="fragment" -->
              * cur = current<!-- .element: class="fragment" -->
              * initial value<!-- .element: class="fragment" -->
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              Below we want to return as object with "isEven" and "isOdd".

              <div class="fragment">

                ```ts [1|10|3|4|6-8|3|12,13]
                  const arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

                  const { isEven, isOdd } = arr.reduce((acc, cur: number) => {
                    const { isEven, isOdd } = acc;

                    return cur % 2 === 0
                      ? { ...acc, isEven: [...isEven, cur] }
                      : { ...acc, isOdd: [...isOdd, cur] }

                  }, { isEven: [], isOdd: [] });

                  isOdd: [1, 3, 5, 7, 9]
                  isEven: [2, 4, 6, 8, 10]
                ```

              </div>
            </script>
          </section>
        </section>

        <!-- angular -->
        <section>
          <!-- avoid calling function in template and use pipe -->
          <section data-markdown>
            <script type="text/template">
              Things not to do in angular

              <div class="fragment">

                ```html
                  <!-- ❌ -->
                  <p>{{ format(number) }}</p>
                ```

              </div>

              <div class="fragment">

                ```html
                  <!-- ✅ -->
                  <p>{{ number | format: 'options' }}</p>
                ```

              </div>
            </script>
          </section>

          <!-- prefer use of ng-container in *ngIf and *ngFor -->
          <section data-markdown>
            <script type="text/template">
              <div class="fragment">

                ```html
                  <!-- ❌ -->
                  <div *ngIf="isLoading">
                    <cad-spinner></cad-spinner>
                  </div>
                ```

              </div>

              Because in actual dom it will be output like this <!-- .element: class="fragment" -->
              <div class="fragment">

                ```html [1-3|1,3]
                  <div>
                    <cad-spinner></cad-spinner>
                  </div>
                ```

              </div>

              Instead we can use "ng-container" <!-- .element: class="fragment" -->
              <div class="fragment">

                ```html [2-4| 3]
                  <!-- ✅ -->
                  <ng-container *ngIf="isLoading">
                    <cad-spinner></cad-spinner>
                  </ng-container>
                ```

              </div>

              Also same case with looping  <!-- .element: class="fragment" -->

              <div class="fragment">

                ```html
                  <ng-container *ngFor="let i of [12, 3, 4, 5]">
                    ...
                  </ng-container>
                ```

              </div>
            </script>
          </section>

          <!-- avoid using deep markup -->
          <section data-markdown>
            <script type="text/template">
              ## Avoid deep nested html markup
              * for better readability and easy for in future refactoring  <!-- .element: class="fragment" -->
              * prefer to use 'ng-template'  <!-- .element: class="fragment" -->
              * use [ngTemplateOutlet] to pass template  <!-- .element: class="fragment" -->
              * use [ngTemplateOutletContext] to pass data <!-- .element: class="fragment" -->
            </script>
          </section>

          <!-- deep nested html markup-->
          <section data-markdown>
            <script type="text/template">
              <div class="">

                ```html
                  <!-- ❌ -->
                  <table>
                    <tr>
                      <ng-container *ngFor="let i of [1, 2, 3, 4]">
                        <td>
                          <div>
                            <div>
                              <p>
                                <span>this is nested doom structure {{ i }}</span>
                              </p>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                  </table>

                ```

              </div>
            </script>
          </section>

          <!-- using ng-container template outlet -->
          <section data-markdown>
            <script type="text/template">
              <div class="">

                ```html
                  <!-- ✅ -->
                  <table>
                    <tr>
                      <ng-container *ngFor="let i of [1, 2, 3, 4]">
                        <td>
                          <ng-container
                            [ngTemplateOutlet]="innerComponentTemplate"
                            [ngTemplateOutletContext]="{ index: i }"
                          ></ng-container>
                        </td>
                      </ng-container>
                    </tr>
                  </table>

                  <ng-template let-i="index">
                    <div>
                      <div>
                        <p>
                          <span>this is nested doom structure {{ i }}</span>
                        </p>
                      </div>
                    </div>
                  </ng-template>

                ```

              </div>
            </script>
          </section>

          <!-- BaseComponent with once, and unsubscribeOnDestroy -->
          <section data-markdown>
            <script type="text/template">
              ### New method for  BaseComponent
              * Its much easier to cancel subscription <!-- .element: class="fragment" -->
              * Previously you had to give a name and assign to "this.addSubscription"  <!-- .element: class="fragment" -->

              <div class="fragment">

                ```ts [1,11|2|9,10|4-7]
                  export class BaseComponent implements OnDestroy {
                    private isAlive$ = new Subject<void>();

                    public ngOnDestroy() {
                      this.isAlive$.next();
                      this.isAlive$.complete();
                    }

                    once = (source) => source.pipe(take(1));
                    unsubscribeOnDestroy = (source) => source.pipe(takeUntil(this.isAlive$));
                  }
                ```

              </div>
            </script>
          </section>

          <!-- continue from rxjs -->
          <section data-markdown>
            <script type="text/template">
              ## How to use it:
              Previous <!-- .element: class="fragment" -->
              <div class="fragment">

                ```ts [1,2|4]
                  const first$ = this.myService.getCurrentUser()..subscribe();
                  const second$ = this.myService.getCurrentUser().subscribe();

                  this.addSubscription(first$, second$);
                ```

              </div>

              New  <!-- .element: class="fragment" -->
              <div class="fragment">

                ```ts [1,4,6,9|2,3,7,8]
                  this.myService.getCurrentUser().pipe(
                    // wait until component destroy and then close subs
                    this.unsubscribeOnDestroy
                  ).subscribe();

                  this.myService.getCurrentUser().pipe(
                    // only run once and then close subs
                    this.once
                  ).subscribe();
                ```

              </div>
            </script>
          </section>
        </section>

        <!-- move pure method in class to outside -->
        <section>
          <section data-markdown>
            <script type="text/template">
              ## Pure function in class
              * If you had a pure function in your class.
              * It is safe to move that function to outside of class.
              * It much more easier to test a single function than a whole 300++ loc.
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              <div class="">

                ```ts [1,16|2,3|5-7|9-11|13-15]
                  export class User {
                    this.age: number = 0;
                    this.fullName: string = '';

                    setFullName(firstname: string, lastname: string): void {
                      this.fullName = `${firstname} ${lastname}`;
                    }

                    calculateAge() {
                      this.age = this.findDifferentInYear(this.age);
                    }

                    private findDifferentInYear(userAge) {
                      return new Date() - userAge
                    }
                  }
                ```

              </div>

              * Move findDifferentInYear outside of User class<!-- .element: class="fragment" -->
              * If we need to unit test the findDifferentInYear is much easier<!-- .element: class="fragment" -->
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              <div class="">

                ```ts
                  export const findDifferentInYear = (userAge): number =>  {
                    return new Date() - userAge
                  }
                ```

              </div>

              <div class="fragment">

                ```ts [10]
                  export class User {
                    this.age: number = 0;
                    this.fullName: string = '';

                    setFullName(firstname: string, lastname: string): void {
                      this.fullName = `${firstname} ${lastname}`;
                    }

                    calculateAge() {
                      this.age = findDifferentInYear(this.age);
                    }
                  }
                ```

              </div>

              <div class="fragment">

                ```ts [1,2,5,6|3,4]
                  describe('findDifferentInYear', () => {
                    it('should return 20', () => {
                      const res = findDifferentInYear(41);
                      expect(res).to.be.eq(20);
                    })
                  })
                ```

              </div>
            </script>
          </section>
        </section>

        <!-- Q & A -->
        <section>
          <section data-markdown>
            <script type="text/template">
              ## Q & A
              * https://github.com/AzrizHaziq/ts-angular-tips
              * https://ts-angular-tips.vercel.app
            </script>
          </section>
        </section>
      </div>
    </div>
  </body>

  <script type="module" src="/main.js"></script>
</html>
